# Gemini API
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# Supabase public client configuration for Next.js
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Optional app URL
APP_URL="MY_APP_URL"